@font-face {
    font-family: 'Source Sans Pro';
    src: url(fonts/SourceSansPro-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(fonts/SourceSansPro-It.ttf);
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(fonts/SourceSansPro-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(fonts/SourceSansPro-ExtraLight.ttf);
    font-style: lighter;
    font-weight: normal;
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url("/holbertonschool-web-development/css_advanced/images/backgroundsmile.png");
    background-attachment: fixed;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 170px;
    box-sizing: border-box;
}

.menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 234px;
}

.logo {
    /* Logo */
    width: 100px;
    height: 100px;
}

.menu-top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: -6px;
}

.menu-top-right a {
    text-decoration: none;
}

.courses,
.pricing,
.login {
    /* Courses, Pricing, Login */
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px; /* add margin-left to create space between menu items */
    width: 100px;
    height: 100px;
}

.main-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.getschooled {
    /* Get schooled */
    color: #FFFFFF;
    margin-top: 1%; /* use margin instead of top to push down */
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 151px;
}

.emotion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -9%; /* adjust margin to position this block */
}

.smile,
.grin,
.laugh {
    /* smile, grin, laugh */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 10px;
    margin-left: 50px;
}

.button-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -6%; /* adjust margin to position this block */
}

.register-button {
    /* Register now */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 8%; /* Add margin-bottom to create space between button and text */
    cursor: pointer;
    text-decoration: none;
    font-size: 0.88rem;
    font-family: 'source sans pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    border-radius: 1.38rem;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 10.13rem;
    height: 2.75rem;
    background: #C271FF;
    color: #FFFFFF;
}

.learn-from-pros {
    /* Learn from the pros */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%; /* adjust margin to position this block */
    margin-bottom: 4%; /* adjust margin to position this block */
}

.learn {
    /* Learn from the pros */
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 20px; /* adjust margin to position this block */
    margin-bottom: 4%; /* adjust margin to position this block */
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin-left: 10px;
    color: #C271FF;
}

.from-pros {
    /* Learn from the pros */
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    margin-left: 10px;
}

.pros-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.pro {
    /* specify pro styling here */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.avatar {
    /* specify avatar styling here */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro-name {
    /* specify pro name styling here */
    font-family: 'Source Sans Pro', sans-serif;
    font-style: bold;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.pro-title {
    /* « Smile of the year » 2018 - 2019 */
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.quote-section {
    background-color: #C271FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 2%;
}

blockquote {
    /* specify blockquote styling here */
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
    margin-right: 40px;
}

.quote-info {
    /* specify quote info styling here */
    display: flex;
    flex-direction: column;
    align-items: left;
}

.quote-info img {
    /* specify quote info img styling here */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.quote-details
.name-person {
    /* specify name styling here */
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
    margin-left: 40px;
}

.quote-details
.title {
    /* specify title styling here */
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
    margin-left: 40px;
}

.after-quote-section {
    /* specify after quote section styling here */
    background-color: #FFFFFF;
    padding: 40px;
}

.popular {
    /* Popular */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 4%;
}

.most {
    /* Most popular */
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 32px;
    line-height: 40px;
    color: #071629;
    text-align: center;
}

.pop {
    /* Popular */
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #C271FF;
    text-align: center;
}

.tutorials {
    /* Tutorials */
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 32px;
    margin-top: 5%;
    margin-bottom: 4%;
    color: #071629;
    text-align: center;
}

.video-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

}

.video-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.after-popular-section {
    /* specify after popular section styling here */
    background-color: #071629;
    padding: 40px;
}

.free-membership {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 5%;
}

.free {
    /* Free */
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #C271FF;
    text-align: center;
}

.membership {
    /* Membership */
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
}

.membership-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.membership-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button-frame2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%; /* adjust margin to position this block */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.faq {
    /* FAQ */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 75px;
    color: #071629;
    text-align: center;
}

.faq-blocks {
    display: grid;
    grid-template-columns: (1fr, 1fr); /* Two columns */
    grid-gap: 20%; /* Gap between grid items */
justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin-top: 5%;
    margin-bottom: 5%;
}

.faq-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.faq-row img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Do not scale the image */
}


.footer-content {
    width: 100%;
    height: 100%;
    padding: 20px; /* Add padding to create space around the content */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust to position items at the far left and far right */
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    align-items: center;
}

.footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    columns: #FFFFFF;
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.35;
    border: 1px solid #000000;
}

